.game-container {
	// border: 1px solid black;
	display: flex;
	flex-flow: row wrap;

	> * {
		width: 100%;
		border: 1px solid black;
	}

	.game-display {
		min-width: 100%;
		height: 100vh;
		background-color: black;
	}

	.game-extras {
		height: 400px;
	}
}