@use 'theme';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600&display=swap');


html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: inherit;
	padding: inherit;
	width: inherit;
	box-sizing: border-box;

	/* TRUCS LIES AU THEME */
	background-color: theme.$primary-color;
	//font-family: 'Outfit', sans-serif;
}

* {
	font-family: 'Outfit', sans-serif;
}

button {
	background-color: theme.$darker-color;
}