/****** PROFILE ******/

.social-option {
    width: 150px;
    margin-top: 10px;
    margin-bottom: -60px;
    margin-left: 3px;
    div {
        padding: 5px;
        margin-top: 5px;
    }
}

.return-button {
    color: rgb(184, 111, 83);
    cursor: pointer;
    text-decoration: none;
}

.return-button:hover {
    color: rgb(133, 78, 57);
    text-decoration: underline;
}

.general-info {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.general-info>img {
    margin-top: 2%;
    flex: 1 1 0%;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.general-info>p {
    font-size: x-large;
    font-weight: bold;
}

.edit-button {
    background-color: rgb(255, 160, 122);
    border: none;
    border-radius: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(184, 111, 83);
}

.edit-button .edit-icon {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px
}


/****** SEPARATOR ******/

.profile {
    .separator {
        display: flex;
        margin-bottom: 10px;
        color: rgb(184, 111, 83);
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .separator::after,
    .separator::before {
        content: "";
        border: 2px solid rgb(184, 111, 83);
        border-radius: 15px;
        flex: 1;
    }

    .separator:not(:empty)::before {
        margin-right: 0.25em;
    }

    .separator:not(:empty)::after {
       margin-left: 0.25em;
    }
}

/****** RANKING ******/

.label1 {
    float: left;
    color: green;
    text-align: left;
}

.label2 {
    float: right;
    color: red;
    text-align: right;
}

.ratio {
    margin-top: 2;
    display: flex;
    text-align: center;
}

.victory-count {
    flex: 1;
    color: green;
}

.lose-count {
    flex: 1;
    color: red;
}

.rank-info {
    margin-top: 2%;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    font-size: 4em;
    text-align: center;
    color: rgb(184, 111, 83);
}


/****** HISTORY ******/

.history {
    text-align: center;
}

.matches {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.matches td,
.matches th {
    padding: 8px;
}

.matches th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(184, 111, 83);
    color: white;
}

.matches .win {
    background-color: green;
}

.matches .lose {
    background-color: red;
}


/****** EDITION ******/

.edition-page {
    transform: translateY(50%);
}

.edition-page>h1 {
    transform: translateY(-60%);
    text-align: center;
    font-size: 4em;
}

.edition-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.edition-block>img {
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

.name-input {
    transform: translateX(2%) translateY(10%);
    width: 70%;
    border: none;
    border-radius: 10px;
    height: 20%;
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: rgb(184, 111, 83);
}

.name-input::placeholder {
    color: white;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: O;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input+label {
    margin: 2%;
    margin-left: 9%;
    font-size: 1.25em;
    font-weight: 700;
    color: rgb(184, 111, 83);
    display: inline-block;
    cursor: pointer;
}

.file-input+label:hover {
    color: rgb(133, 78, 57);
}

.edition-page button {
    background-color: rgb(255, 160, 122);
    border: none;
    border-radius: 15px;
    color: black;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 4%;
}

.edition-page button:hover {
    background-color: rgb(184, 111, 83);
}

.edition-page .save {
    margin-top: 8%;
    padding-left: 25px;
    padding-right: 25px;
}

.edition-page .cancel {
    margin-top: 2%;
}
