.message-area {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    .message-system {
        width: 100%;
        text-align: center;
        color: #2e2d2d;
        font-size: 0.8em;
        margin-top: 10px;
    }
    // the bubble is alligned to the right
    .message-self {
        position: relative;
        width: 100%;
        border-radius: 10px;
        float: right;
        .bubble-self {
            position: relative;
            max-width: 40%;
            border-radius: 10px;
            margin: 10px;
            float: right;
            word-wrap: break-word;
            padding: 5px;
            background-color: rgb(113, 139, 245);
            color: white;
            padding: 6px;
        }
    }
    .message {
        position: relative;
        width: 100%;
        border-radius: 10px;
        float: left;
        .bubble {
            position: relative;
            max-width: 40%;
            border-radius: 10px;
            margin: 10px;
            float: left;
            word-wrap: break-word;
            padding: 5px;
            background-color: rgb(213, 213, 213);
            color: rgb(22, 22, 22);
            padding: 6px;
        }
    }
    .message-text {
        margin: 0;
    }
    .message-display-name {
        margin: 0;
        font-weight: bold;
    }
}

.input-area {
    flex: 0 0 15%;
    display: flex;
    flex-flow: row nowrap;

	.input-field {
		flex: 1;
		color: black;
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        outline: none;
	}
    .input-field:focus {
        background-color: rgba(255, 255, 255, 1);
    }
	.input-button {
        flex: 0 0 auto;
        border: 0;
		color: white;
		background-color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        padding: 10px;
        margin: 0;
        cursor: pointer;
	}
    .input-button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
