.admin-panel-chat {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    h1 {
        margin: 0;
    }
    .user-list {
        position: relative;
        flex-grow: 1;
        overflow-y: scroll;
        background-color: #fafafa;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        .member {
            width: 100%;
            background-color: #e6e6e6;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.sanction-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(202, 202, 202);
    z-index: 99999;
    border-radius: 5px;
    padding: 20px;
    .button-icon {
        cursor: pointer;
        color: rgb(58, 58, 58);
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
    h1 {
        margin-top: 10px;
    }
    .user-info {
        position: absolute;
        right: 20px;
        top: 20px;
        .user-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        p {
            margin-top: 5px;
            text-align: center;
        }
    }
    .input-group {
        margin-top: 20px;
        p {
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
    .date-picker {
        position: relative;
        background-color: #fafafa;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 10px;
    }
    .confirm {
        position: absolute;
        width: 200px;
        height: 50px;
        line-height: 35px;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }
    .error {
        position: absolute;
        color: red;
        font-size: 14px;
        margin-top: 10px;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
}